<html>
  <head>
	<link rel="stylesheet" type="text/css" href="css/stn.css" />

	<script type="text/javascript" src="js/jquery-1.6.1.js"></script>
	<script type="text/javascript" src="js/jqBarGraph.1.1.js"></script>
    <script type="text/javascript" src="js/stn.js"></script>

  </head>

  <body>
	<h2 class="cabecalho">Fundo de Participa&ccedil;&atilde;o dos Estados</h2>
	<table cellspacing="0" cellpadding="0" border="0">
	<tbody>
		<form name="form1" action="#">
		<tr>
	    <td>
			<b>Estado:</b><br>
			<select style="width: 200" name="uf" size="1">
			 	<option value="%"></option>
		        <option value="AC">Acre&nbsp;</option>
		        <option value="AL">Alagoas&nbsp;</option>
		        <option value="AP">Amapá&nbsp;</option>
		        <option value="AM">Amazonas&nbsp;</option>
		        <option value="BA">Bahia&nbsp;</option>
		        <option value="CE">Ceará&nbsp;</option>
		        <option value="DF" selected>Distrito Federal&nbsp;</option>
		        <option value="ES">Espírito Santo&nbsp;</option>
		        <option value="GO">Goiás&nbsp;</option>
		        <option value="MA">Maranhão&nbsp;</option>
		        <option value="MT">Mato Grosso&nbsp;</option>
		        <option value="MS">Mato Grosso do Sul&nbsp;</option>
		        <option value="MG">Minas Gerais&nbsp;</option>
		        <option value="PA">Pará&nbsp;</option>
		        <option value="PB">Paraíba&nbsp;</option>
		        <option value="PR">Paraná&nbsp;</option>
		        <option value="PE">Pernambuco&nbsp;</option>
		        <option value="PI">Piauí&nbsp;</option>
		        <option value="RJ">Rio de Janeiro&nbsp;</option>
		        <option value="RN">Rio Grande do Norte&nbsp;</option>
		        <option value="RS">Rio Grande do Sul&nbsp;</option>
		        <option value="RO">Rondônia&nbsp;</option>
		        <option value="RR">Roraima&nbsp;</option>
		        <option value="SC">Santa Catarina&nbsp;</option>
		        <option value="SP">São Paulo&nbsp;</option>
		        <option value="SE">Sergipe&nbsp;</option>
		        <option value="TO">Tocantins&nbsp;</option>
	      	</select>
			</td>
			<tr>
			<td>
			<b>Ano:</b><br>
			<select style="width: 200" name="ano" size="1">
		        <option value="%"></option>
		        <option value="1997">1997&nbsp;</option>
		        <option value="1998">1998&nbsp;</option>
		        <option value="1999">1999</option>
		        <option value="2000">2000</option>
		        <option value="2001">2001</option>
		        <option value="2002">2002</option>
		        <option value="2003">2003</option>
				<option value="2004">2004</option>
				<option value="2005">2005</option>
				<option value="2006">2006</option>
				<option value="2007">2007</option>
				<option value="2008">2008</option>		
				<option value="2009">2009</option>
				<option value="2010" selected>2010</option>
				<option value="2011">2011</option>
			</select>
			</td>
			</tr>
			<tr>
				<td>	
				<br>
				<input type="button" value="Enviar" onclick="fpe_get();"/>
				</td>
			</tr>

			<tr>
				<td>
					<br>
					<div id="simpleGraph"> 
					</div>
				</td>
			</tr>
		</form>
	</tbody>
	</table>
    
	<h3>Fonte:&nbsp;<a href="http://tesouro.fazenda.gov.br/">Secretaria do Tesouro Nacional</a></h3>
  </body>
</html>